{% extends 'base.html.twig' %}

{% block title %}Tracks{% endblock %}

{% block body %}
    <h1>Tracks</h1>
    {% if app.user %}
        <p>
            <a class="btn btn-primary" href="{{ path('admin.tracks.create')}}">Add a new track</a>
        </p>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artists</th>
                <th>Album</th>
                <th>Duration</th>
                <th>Genres</th>
                <th>Mood</th>
            </tr>
        </thead>
        <tbody>
            {% for track in tracks %}
                <tr>
                    <td>
                        <a href="{{ path('tracks.single', {slug: track.slug, id: track.id})}}">{{ track.title }}</a>
                    </td>
                    <td>
                        <ul>
                            {% if track.artists is not empty %}
                                {% for artist in track.artists %}
                                    <li><a href='{{ path('artists.single', {slug: artist.slug, id: artist.id})}}'>{{ artist.name }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </td>
                    <td>
                        {% if track.album %}
                            <a href='{{ path('albums.single', {slug: track.album.slug, id: track.album.id})}}'>{{ track.album.title }}</a>
                        {% endif %}
                    </td>
                    <td>{{ track.duration }}</td>
                    <td>
                        <ul>
                            {% if track.genres is not empty %}
                                {% for genre in track.genres %}
                                    <li><a href='{{ path('genres.single', {slug: genre.slug, id: genre.id})}}'>{{ genre.title }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </td>
                    <td>{{ track.mood }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
