{% extends 'admin/base.html.twig' %}

{% block title %}All Songs{% endblock %}

{% block body %}
<h1>All Songs</h1>
<p>
    <a class="btn btn-primary" href="{{ path('admin.song.create')}}">Create a new song</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th><a href="{{ path('admin.genre.index') }}">Genres</a></th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
            <tr>
                <td>
                    <a href="{{ path('song.show', {id: song.id, slug: song.slug})}}">{{ song.title }}</a>
                </td>
                <td><a href="{{ path('genre.show', {id: song.genre.id, slug: song.genre.slug})}}">{{ song.genre.title }}</a></td>
                <td>
                    <div class="d-flex gap-1">
                        <a class="btn btn-primary" href="{{ path('admin.song.edit', {id: song.id})}}">Edit</a>
                        <form action="{{ path('admin.song.delete', {id: song.id})}}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
